body {
    font-family: HelveticaNeue-Light;
    font-size: 14px;
    color: #3d3d3d;
    margin: 10px;
    margin-top: 20px;
    text-align: left;
    width: 100% important;
}

.title{
    font-size: 17px;
}

p.title {
    color: rgb(187,122,0);
    font-size: 19px;
    font-family: HelveticaNeue-Light;
}

p.header
{
    color: #3d3d3d;
    font-size: 16px;
    font-family: HelveticaNeue-Light;
}

.verified
{
    color: rgb(65,94,181);
    font-family: HelveticaNeue-Bold;
}

.visited
{
    color: rgb(163,90,75);
    font-family: HelveticaNeue-Bold;
}

.point
{
    color: rgb(54,54,54);
    font-family: HelveticaNeue-Bold;
}


